@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    font-family: "Roboto";

    --text-color: #1E0342;
    --page-bg-color: #E1F7F5;
    --bar-color: #9AC8CD;
    --dots-color: #0E46A3;
    --link-color: #0E46A3;
    --line-color: #9AC8CD;
    --arrow-color: #9AC8CD;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--page-bg-color);
}

header {
    background-color: var(--bar-color);
    padding: 1em;

    h1 {
        font-family: "Prata";
        margin: 0;
        text-align: center;
    }
}

.timeline {
    display: grid;

    grid-template-columns: 1fr 1fr;

    #line {
        justify-self: center;
        background-color: var(--line-color);
        width: 6px;
        height: 100%;

        border-radius: 0 0 4px 4px;
    }

    ul {
        margin-block: 0;
        list-style: none;
        padding: 0;
    }

    li {
        margin-block: 2em;
        position: relative;

        &:hover {
            .dot {
                height: 30px;
                width: 30px;
            }

            a {
                font-size: 1.5em;
            }

            .year {
                font-size: 1.5em;
            }
        }

        .year {
            font-family: "Roboto Mono";
            
            position: absolute;
            padding-inline: 10px;

            left: -55%;
            top: 50%;
            transform: translateY(-50%) translateX(-100%);

            transition: font-size 0.1s ease-in-out;
        }

        .dot {
            z-index: 1;
            position: absolute;
            left: -50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            
            background-color: var(--dots-color);
            height: 20px;
            width: 20px;
            border-radius: 100%;

            transition: all 0.1s ease-in-out;
        }

        .arrow {
            position: absolute;
            left: -25%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            
            background-color: var(--line-color);
            height: 2px;
            width: 50%;
        }

        a { 
            display: block;
            margin-left: 5px;
            text-decoration: none;

            &:link {
                color: var(--link-color);
            }

            &:hover {
                color:hsl(from var(--link-color) 0 0 -5%)
            }

            &:visited {
                color:hsl(from var(--link-color) 0 0 -10%)
            }

            transition: font-size 0.1s ease-in-out;
        }
    }
}